@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

/* Generalized Design */

* {
    margin: 0;
    padding: 0;
    z font-family: 'Merriweather', serif;
}

.heading {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* Banner Design */
#banner {
    margin: 50px 50px;

}

.banner-container {
    background-image: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    padding: 190px 0;
}

.banner-sub-heading {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

/* discount part */

#discount {
    width: 60%;
    max-width: 800px;
    /* background-color: blue; */
    margin: 0 auto;
}

/* .discount-container {
    text-align: center;
} */

.discount-1st-heading {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 45px;
}

.discount-2nd-heading {
    color: #F00;
    text-align: center;
    margin-bottom: 10px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}

.discount-3rd-heading {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 45px;
}

.discount-greetings{
    margin-bottom: 120px;
}