@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

/* Generalized Design */

* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

.heading {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* Banner Design */
#banner {
    margin: 50px 50px;

}

.banner-container {
    /* background-image: url('../resources/Banner\ Image.png'); */
    background: linear-gradient(80deg, #070211 0%, rgba(7, 2, 17, 0) 100%), url("../resources/Banner\ Image.png");
    background-repeat: no-repeat;
    padding: 190px 0;
    border-radius: 16px;
}

.banner-sub-heading {
    color: #FFF;
    text-align: center;
    font-size: 32px;
}

/* discount part */

#discount {
    width: 60%;
    max-width: 800px;
    /* background-color: blue; */
    margin: 0 auto;
}

/* .discount-container {
    text-align: center;
} */

.discount-1st-heading {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 45px;
}

.discount-2nd-heading {
    color: #F00;
    text-align: center;
    margin-bottom: 10px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}

.discount-3rd-heading {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 45px;
}

.discount-greetings {
    margin-bottom: 120px;
}


/* Midnight Party Design */

#party {
    margin: 50px 50px;
}

.party-container {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('..//resources/Vectorrr.png');
    /* background-image: url('..//resources/Vectorrr.png'); */
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    /* padding: 24px 0; */
    border-radius: 16px;
}

.party-heading {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    text-align: center;
    margin-top: 126px;

}

.party-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 50px;
    padding: 0 126px;
}

.button-1 {
    /* margin-left: 160px; */
    margin: 48px 100px 140px 160px;
    /* color: #FFF; */
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;

}

.party-container-section-image {
    margin: 60px 160px 60px auto;

}


/* Place & Date Part Design */

.place-description {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    padding-top: 100px;
    margin-bottom: 50px;
}

.know {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
}

#place {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 100px 50px;
    text-align: center;
    border-radius: 16px;
}

.button-2 {
    border-radius: 8px;
    background: #F00;
    color: white;
    padding: 16px 32px;

}

/* Offer Part Design */

#offer {
    margin: 50px 50px;
}

.offer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.offer-1st-column {
    flex: 1;
}

.col-heading {
    color: #FF0000;
    font-family: Inter;
    font-size: 24px;
}

.col-main-heading {
    color: #070211;
    font-size: 48px;
}

.col-des {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;

}

.offer-2nd-column {
    width: 500px;
    border-radius: 50%;
    border: 15px solid #F00;
    flex: 1;
}

.offer-2nd-column-img {
    padding: 40px;
}

.offer-3rd-column {
    flex: 1;
}

.offer-3rd-heading {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    margin-bottom: 16px;
}

.offer-3rd-column-des {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    margin-bottom: 40px;
}


/* Functional Part Design */

#function {
    margin: 50px 50px;

}

.first-part{
    text-align: center;
}

.function-intro {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 120px;
    margin-bottom: 20px;
}

.function-heading {
    color: #070211;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 30px;
    
}

.holiday {
    color: #F00;
    font-size: 72px;
    font-weight: 900;
    margin-top: 30px;
}

.function-des{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    padding: 0 200px;
}



/* Portfolio Design */

#portfolio {
    margin: 50px 50px;
}

.portfolio-1st-heading {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 15px;
    margin-top: 120px;
}

.portfolio-2nd-heading {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    padding: 0 330px 20px 0;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.portfolio-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding-right: 420px;
    padding-bottom: 50px;
}

.image-1 {
    margin-bottom: 20px;
}

.portfolio-image {
    display: flex;
    gap: 24px;
    margin-top: ;
}

/* Newsletter Part Design */

#newsletter {
    margin: 50px 50px;
    /* width: 100%; */
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.newsletter-contain {
    width: 100%;
    
}

.newsletter-2nd-heading {
    text-align: center;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.newsletter-description {
    text-align: center;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding: 0 200px;
    padding-bottom: 48px;
}

.newsletter-image {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 40px;
}


form {
    display: flex;
    justify-content: center;
   
}


.subs{
    padding: 20px 0px;
    border-radius: 0px 50px 50px 0px;
    padding: 0 50px;
    color:#FFFFFF;
    background: #FF0000;
    border: none;
    margin-left: -20px;
}

.form {
    padding: 20px 200px 20px 20px;
    border-radius: 50px;
    border: none;
    background: #FFF;
    
    
    
}

/* footer Design */
#footer {
    background: #070211;
    /* margin-bottom: 1000px;
    /* width: 1600px; */
    height: 609px;
    */ flex-shrink: 0;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    color: #FFF;
}

.footer-address {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    margin-top: 120px;
    margin-left: 140px;
    /* padding: 120px 800px 400px 140px; */
    margin-bottom: 50px;
}

.footer-number,
.footer-web {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.footer-number {
    margin-top: 120px;
    margin-right: 250px;
}

hr {
    background: rgba(255, 255, 255, 0.15);
    margin: 0 140px;
    margin-bottom: 40px;
}

.footer-social-media {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 40px;
}

.footer-copyrigt {
    display: flex;
    justify-content: space-between;
}

.footer-2017 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-left: 140px;
}

.footer-unsubscribe {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-right: 140px;
}